/* reset css--------------------------- */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
   grid-template-rows: 100px 1fr 1fr 50px;
   border: 5px solid black;
  
}
.header{
background: blanchedalmond;
grid-column: 1/span2;
grid-row: 1/1;
}
.navigation {
   background: grey;
   grid-column: 1/span2;
   grid-row: 2/2;
  
}
.navigation ul{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.un{
background: rgb(238, 236, 240);
border: 1px solid grey;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.titre{
   background: cadetblue;
   width: 200px;
   text-align: center;
   font-weight: bolder;
   
}
.un img{
   width: 200px;
   height: 150px;

}
.underImg{
   letter-spacing: 0.03em;
   font-weight: 900;
   font-size: 1.1em;
   
}
.name{
color: blueviolet;
font-style: italic;

}
.info{
   color: rgb(161, 161, 161);
   font-weight: lighter;
   letter-spacing: 0.05em;
}
/* .deux{
background: steelblue;
}
.trois{
background: tomato;
}
.quatre{
background: yellow;
} */
.footer{
background: brown;
grid-column: 1/span2;
grid-row: 4/4;
}